@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-div{
    width:350px
}
img{
    width:30px;
    
}
.vertical{
    height: 500px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    border:1px solid #0071BD;
    border-radius: 8px;
    /* background: #0071BD; */
}
::-webkit-scrollbar-thumb{
    border:1px solid gray;
    border-radius: 8px;
    background: #0071BD;
}
::-webkit-scrollbar-thumb:hover{
    background: #0071BD;
}
